<?xml version="1.0" ?>
<list>
	<menu id="dashboard">
		<url>dashboard/index</url>
		<children>false</children>
		<subMenu></subMenu>
	</menu>
	<menu id="admin">
		<url>admin/index</url>
		<children>false</children>
		<subMenu></subMenu>
	</menu>
	<menu id="ROOT">
		<url>menu</url>
		<children>true</children>
		<subMenu>
			<menu reference="dashboard"></menu>
			<menu reference="admin"></menu>
		</subMenu>
	</menu>
</list>